<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>IT서비스 소개</title>
        <style>
            body
            #inner {
                width: 600px;
                height: 400px;
                background-color:antiquewhite;
                padding: 20px;
                position: absolute; 
                top: 20%;
                left: 10%;
            }
        </style>
    </head>
    <body background="laptop.jpeg">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Haeun's Story</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="IT.html">IT 서비스 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="haeun.html">자기 소개</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main">
            <div id="inner">
                 최근 몇 년간 우리나라에 배달서비스가 크게 발달하였고,
                 <br> 이 서비스를 이용하며 많은 편리함을 느꼈습니다.<br>
                 인간에게 가장 필요한 세가지 의,식,주 중<br>
                 식과 IT가 더해진 '푸드테크'가 점차 자리를 넓히고 있어<br>
                 저 또한 이러한 서비스에 관심을 갖게 되었습니다.<br>
                 제가 만들고 싶은 서비스는 '식단'과 관련된 것입니다.<br>
                 거의 매일 밖에서 식사를 해결하는 저와같은 대학생들을 대상으로<br>
                 음식의 영향성분 등과 같은 가이드를 제공하고 아침, 점심, 저녁 각각<br>
                 때에 따라 먹으면 좋은 음식, 혹은 음식의 조화 등을<br>
                 제공해주는 서비스를 만들고 싶습니다.<br> 
                </div>
        </div>
    </body>
</html>